.main {
  background-image: url('../image/banner1.jpg');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.body {
  height: fit-content;
}

.text {
  border: none;
  padding: 20px 70px;
  background: none;
  position: relative;
}

.text:focus {
  outline: none;
}

.input-width {
  width: 300px;
  margin: 15px 0;
}

.border-bottom {
  position: relative;
}

.border-bottom::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  height: 1px;
  background: black;
}

.icon {
  position: absolute;
  left: 10px;
  top: 10px;
}

.no-btn {
  background: none;
  border: none;
}

.no-btn a {
  color: black;
}

.no-btn a:hover {
  text-decoration: none;
}

.btn-submit {
  background: #ff3366;
  color: black;
  width: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
}

.ant-form-item {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#register_password,
#register_confirm {
  margin-left: 38px;
}
.ant-form-item-required {
  width: 170px;
}

.ant-input {
  width: 250px;
}

.anticon {
  margin-left: 5px;
}

.password {
  width: 152px;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

.ant-form-item-label>label {
  color: black !important;
}

.ant-form-item-label label span {
  color: black !important;
}

.drawer {
  position: fixed;
  left: -32px;
  top: 50%;
  transform: rotate(90deg);
}